.navList{
    display: inline-block;
}

.navList button{
    color: black;
    font-family: inherit; 
    margin-left: 2vw;
    outline: none;
    border: none;
    background: inherit;
}

.navList button:hover{
    background: cornsilk;
}

.navList ul{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 12vw;
}

.navList ul li{
    color: black;
    text-decoration: none;
    height: 5vh;
    display: block;
    text-align: left;
}

.navList:hover ul, .navList:focus ul{
    display: flex;
    flex-direction: column;
}