.aboutPage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutPage textarea{
    width: 60vw;
	height: 80vh;
	border: 3px solid #cccccc;
	padding: 5px;
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
    resize: none;
    margin-bottom: 2vh;
}

.aboutPage textarea::-webkit-scrollbar {
    width: 7px;
    background-color: rgb(68, 65, 65); 
}

.aboutPage textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(16, 16, 17);
}