section{
    height: fit-content;
    box-sizing: border-box;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section a{
    display: block;
}

section button{
    margin: 1vh 2vw;
}

section img{
    margin-top: 2vh;
    width: 150px;
    height: 200px;
}